<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../library/bootstrap/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-auto py-3">
                <img width="48" height="48" src="../image/error-icon.png" alt="cancel--v1"/>
            </div>
            <div class="col py-4">
                <p>Credenciales incorrectas.</p>
            </div>
        </div>         
    </div>
</body>
<script src="../js/alert.js"></script>
</html>