<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNPCIA 2018 - PCI de pavimento asfálticos en carreteras</title>
    <link rel="stylesheet" href="../library/bootstrap/bootstrap.min.css" />
</head>
<style>
    p{
        font-size: 12px;
    }
</style>
<body style="background-color: #DCDCDC; color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 my-2">
                <div class="row text-center">
                    <div class="mx-auto" style="background-color: white; color:black; width:649px;">
                        <h1 style="font-weight: 800; margin-top: 10px;">UNPCIA 2018</h1>
                    </div>
                </div>
                <div class="row text-center my-2 fw-bold">
                    <p style="color: black;" class="lh-1 text-sm fw-semibold">
                        Desarrollado por: Luis Ricardo Vásquez Varela <br>
                        Profesor asociado - Departamento de Ingenieria Civil <br>
                        Universidad Nacional de Colombia <br>
                        Sede Manizales
                    </p>
                </div>
            </div>
            <div class="col-2 p-0 my-2 px-2">
                <img src="../image/logo.png" class="img-thumbnail" alt="Logo unpcia">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <form class="mt-2">
                    <div class="form-group my-1">
                      <label for="inputUser">Usuario</label>
                      <input type="text" class="form-control form-control-sm" id="inputUser">
                    </div>
                    <div class="form-group my-1">
                      <label for="inputPassword">Contraseña</label>
                      <input type="password" class="form-control form-control-sm" id="inputPassword">
                    </div>
                    <div class="form-group row my-3">
                        <div class="col-sm-10">
                          <button class="btn btn-primary btn-sm" id="btn_login">Ingresar</button>
                        </div>
                      </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
<script src="../js/login.js" type="text/javascript"></script>
</html>